@import url(variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Vast+Shadow&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    color: white;
    width: 100vw;
    background-color: var(--background);
    overflow-x: hidden;   
}
header {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    align-items: center;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}
.container-banner, img {
    position: relative;
    width: 100vw;
    opacity: 0.8;
    
}
.container-subtitle, .list {
    padding-bottom: 1em;
}
.list {
    list-style-type: none;
    text-align: center;
}
.dropdown {
    position: relative;
    list-style-type: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background);
    margin: 0;
    list-style-type: none;
    z-index: 1;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--primary-color);
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2 {
    text-align: center;
    padding-bottom: 20px;
}

.logo {
    width: 100px;
}
strong {
    color: var(--primary-color);
}
